<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmp.sem.team8.smarlecture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".auth.LoginActivity" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true" />
        <activity android:name=".session.SessionActivity" />
        <activity android:name=".joinsession.JoinedSession" />
        <activity
            android:name=".group.GroupActivity"
            android:exported="true" />
        <activity
            android:name=".newsfeed.NewsFeedActivity"
            android:exported="true" />
        <activity
            android:name=".invitations.InvitationsActivity"
            android:exported="true" />
        <activity
            android:name=".rateobjectives.RateObjectivesActivity"
            android:exported="true" />
        <activity
            android:name=".grouplist.GroupListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".statistics.GroupStatisticsActivity"
            android:label="@string/title_activity_group_statistics" />
        <activity android:name=".grades.GradesActivity" />

        <service
            android:name=".joinsession.writeattendance.AttendanceMonitorService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".joinsession.writeattendance.WriteAttendanceActivity">

        </activity>
    </application>

</manifest>